.container_product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.producto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img_producto {
    width: 180px;
}

.product_price {}

.product_buy_btn {
    background-color: var(--color5);
    outline: none;
    border: 1px solid;
}